a:hover{
    font-size: 16pt;
    color: blue;
}

body{
    margin: 0%;
}

header{
    background-image: url("../img/minecraft-hero-og.jpg");
    background-size: cover;
    height: 500px;
    background-repeat: no-repeat;
}

nav{
    align-items: center;
    background-color: gray;
    height: 50px;
    font-family: 'MinecraftiaRegular'; 
    font-weight: normal; 
    font-style: normal;
    display: flex;
    justify-content: space-around;
}

section{
    align-items: center;
    display: flex;
    flex-direction: column;
}